.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}
.grid div {
  width: 100px;
  height: 100px;
  font-size: 60px;
  color: teal;
  font-weight: bold;
  text-align: center;
  background: #102128;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

.score-container {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}
#result {
  color: whitesmoke;
  font-size: 30px;
}
